/* --- css reset --- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --- fonts --- */

@font-face {
    font-family: FivoSans;
    font-weight: 200;
    src: url("FivoSans-Light.otf") format("opentype");
}

@font-face {
    font-family: FivoSans;
    font-weight: normal;
    src: url("FivoSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: FivoSans;
    font-weight: medium;
    src: url("FivoSans-Medium.otf") format("opentype");
}

@font-face {
    font-family: FivoSans;
    font-weight: bold;
    src: url("FivoSans-Bold.otf") format("opentype");
}

@font-face {
    font-family: FivoSans;
    font-weight: heavy;
    src: url("FivoSans-Heavy.otf") format("opentype");
}


/* --- App --- */
* {
  box-sizing: border-box;
}

body {
    background: #fdf5de;
}
			

h1 {
    font-family: FivoSans;
    font-weight: heavy;
    font-size: 38px;
    color: #444;
    margin-top: 14px;
    margin-bottom: 14px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.table {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
}

.alkali {
    background: #d6d1be;
}

.noble {
    background: #fe808e;
}

.transition, .lanthanide, .actinide {
    background: #ffdd00;
}

.nonmetal {
    background: #f59723;
}

.metalloid, .post-transition {
    background: #2cacc5;
}

.alkaline {
    background: #36b872;
}

.element:hover {
    background: #f4f9f4;
}


/* --- Element --- */

.element {
  cursor: pointer;
  width: 5vw;
  height: 5vw;
  padding: 2px;
  border: 1px solid #444;
  border-collapse: collapse;
  overflow: hidden;
}

.symbol {
    font-family: FivoSans;
    font-weight: bold;
    font-size: 2vw;
    color: #444;
    text-align: center;
    line-height: 5vw;
}

.number {
    float: left;
    font-size: 0.6vw;
    position: absolute;
}

.name {
    font-family: FivoSans;
    font-weight: 200;
    font-size: 0.7vw;
    color: #444;
    text-align: center;
    margin-top: -22px;
}


.element-2 {
  grid-column-start: -2;
}

.element-5, .element-13 {
  grid-column-start: 13;
}

.element-58, .element-90 {
    grid-column-start: 6; 
}

.element-58, .element-59, .element-60, .element-61, .element-62, .element-63, .element-64, .element-65, .element-66, .element-67, .element-68, .element-69, .element-70 {
    margin-top: 40px;
}

/* --- pop-up box --- */
.info {
  grid-column: 5/13;
  grid-row: 2/4;
  padding: 0.5vw;
  padding-top: 0;
  font-size: 1vw;
  max-height: 10vw;
  overflow: scroll;
}
